.capabilities{
  .container{
    font-family: 'Open sans', sans-serif;
    color: $black;
    display: flex;
    justify-content: space-between;
    .section__header{
      .header__line{
        margin: 0;
      }
    }
    .capabilities_text_button{
      font-size: 11px;
      line-height: 19px;
      display: flex;
      gap: 32px;
      p{
        letter-spacing: 0.2px;
        max-width: 406px;
      }
    }
  }
  margin-bottom: 80px;
}