nav{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .nav__logo{
      cursor: pointer;
    }
    ul{
      display: flex;
      gap: 40px;
      li{
        color: $black;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.09091px;
        cursor: pointer;
        span{
          color: $blue;
          &:hover{
            color: $black;
          }
        }
        &:hover{
          color: $blue;
        }

      }
    }
  }
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 57px;
}